<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erlema">

    <!-- BmobPush SDK权限 -->

    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" />

    <uses-permission android:name="cn.bmob.permission.push" />

    <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- qq登陆需要的权限 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 微博登陆所需 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 这个权限用于进行网络定位 -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于访问GPS定位 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 用于读取手机当前的状态 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问网络，网络定位需要上网 -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.erlema.BmobIMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.erlema.activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name="com.erlema.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erlema.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.erlema.activity.TestActivity" />
        <activity
            android:name="com.erlema.activity.SlidingMenuActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <!-- qq登陆需要的两个activitie -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104783114" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微博登录所需 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.erlema.activity.ChatActivity"
            android:launchMode="singleTask" />

        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />
        <!-- 百度地图所需 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- SDK4.2及之后版本需要在Mainfest.xml设置Accesskey -->
        <!-- 设置有误会引起定位和地理围栏服务不能正常使用，必须进行Accesskey的正确设置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qHr9vEvvTU1c0B7vA3yEEfUu" />
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="bmob" />

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="com.erlema.bean.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647">

                <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.erlema.activity.GoodsDetailsActivity"
            android:label="@string/title_activity_goods_details" />
        <activity
            android:name="com.erlema.activity.ImageActivity"
            android:label="@string/title_activity_image" />
        <activity
            android:name="com.erlema.activity.AddActivity"
            android:label="@string/title_activity_add" />
        <activity
            android:name="com.erlema.activity.AddQiuActivity"
            android:label="@string/title_activity_add_qiu" />
        <activity
            android:name="com.erlema.activity.WantedGoodsDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_wanted_goods_details"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.erlema.activity.AboutUserActivity"
            android:label="@string/title_activity_about_user" />
        <!-- 设置bmob appkey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="9fd7951ba1ce3845c956ccbb8620424e" />

        <activity
            android:name="com.erlema.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.erlema.activity.ManageGoodsActivity"
            android:label="意向用户"
            android:theme="@style/Base.V11.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.erlema.activity.SchoolsActivity"
            android:label="@string/title_activity_schools"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.erlema.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.erlema.activity.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.erlema.activity.WebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_webview"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.erlema.activity.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.erlema.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppBaseTheme"></activity>
    </application>

</manifest>
